<link rel="stylesheet" href="/stylesheets/topBlogs.css">
<%- include("partials/header") %>
  <%- include("partials/nav")%>
    <div class="sec1">
      <div class="written">
        <% blogs.forEach((blog , index)=>{ %>
          <a href="/blog/<%= blog._id %>">
            <div class="block">
              <div class="contentAndimage">
                <div class="content">
                  <h1 >
                    <%= blog.heading%>
                  </h1>
                  <h2>By: <%= blog.username  %></h2>
                  <p>
                    <%= blog.content%>
                  </p>
                </div>
                <div class="image">
                  <img src="/images/<%= blog.image %>" alt="">
                </div>
              </div>
            </div>
          </a>
          <% })%>
      </div>
    </div>


    <%- include("partials/footer") %>